<h1>Movies</h1>
<%= link_to "novo filme", new_movie_path%>
<ul>
    <%@movies.each do |movie|%>
        <li>
            <%= link_to movie.title, movie_path(movie)%>
            <%= link_to "editar", edit_movie_path(movie)%>
            <%= link_to "deletar", movie_path(movie), data: {turbo_method: :delete}%>
        </li>
    <% end %>
</ul>